@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed|Open+Sans');
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/** {
   border: 1px solid red !important;
}*/
body{
	color: #f8f2ec;
	background-image: url("../images/coffee3.jpeg"); /*Rememeber this...*/
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*through this*/
}
#contain {
	position: relative;
	top: 55px;
	background-color: rgba(51,26,11,0.85);
	width: 100%;
	position: relative;
	min-width: 750px;
}
#navTop{
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	height: 55px;
	width: 100%;
	z-index: 1;
}
.navUl{
	float: right;
}
#opener{
	display: inline-block;
	float: left;
	height: 55px;
	width: 150px;
	line-height: 55px;
	color: black;
	font-size: 3.25em;
	letter-spacing: -0.1em;
	font-family: 'Roboto Condensed', Helvetica, "Sans Serif";
}#openerspan{
	font-size: 0.5em;
}
.navBar{
	display: inline;
	padding: 0 35px;
	height: 55px;
	line-height: 55px;
}
.navBarLink{
/*	color:  #f8f2ec;*/
	color: #000;		/*Remove this later and un-comment the above line.*/
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', Helvetica, "Sans Serif";
}
.navBarLink:hover {
    text-decoration: underline;
/*    text-transform: uppercase;*/
}
header{
	background-image: url("../images/CoffeeBar.jpeg");
	height: 675px;
	padding-top: 206px;
}
#headerContain{
	margin: 0 auto;
	background-color: rgba(255,255,255,1);
	width: 670px;
	padding: 25px 0;
}
h1{
	font-family: /*Helvetica,*/ "Roboto Condensed", Helvetica, "Sans Serif";
	margin: 0;
	padding: 0;
	color:  #000;
	font-size: 7em;
	font-weight: 300;
	text-align: center;
	letter-spacing: -0.08em;
	line-height: 0.75em;
	word-spacing: 0.2em;
	text-transform: uppercase;
}
#slogan{
	font-family: "Merriweather", Times, serif;
	color: #000;
	text-align:  center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.25em;
	word-spacing: 0.25em;
	font-style: italic;
}
img{
	display: block;
	margin: 0 auto;
	width: 50%;
	max-width: 650px;
	margin-bottom: 20px;
}
h2,h3,p {
	text-align: center;
	margin: auto;
	width: 75%;
}
h2{
	font-family: /*Helvetica,*/ "Roboto Condensed", Helvetica, "Sans Serif";
}
p,ul{
	font-family: "Merriweather", Times, serif;
}
p{
	text-align: justify;
	max-width: 650px;
	line-height: 1.5em;
	font-size: 16px;
	margin-bottom: 15px;
}
hr{
	width: 100%;
	border-color: #dfbf9f;
	border-width: 2px;
	margin-top: 0;
	margin-bottom: 25px;
}
/*#aboutUsDiv{
	display: block;
	width: 50%;
	max-width: 550px;
	margin: 0 auto;
	padding-bottom: 25px;
}*/
#aboutUS,#weOffer,#excitingNews{
	font-size: 2.5em;
	margin: 0 auto;
	font-weight: 300;
	padding-bottom: 12px;

}
#ulContain{
	display: block;
	margin: auto;

}
.relatedInfo{
	font-family: "open sans";
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
	margin: 0 auto;
}
.rekatedUL{
	padding: 0;
	margin-bottom: 15px;
}
.relatedLI{
	font-family: "open sans";
	display: inline;
	font-size: 0.7em;
	padding: 0 15px;
}
.relatedULLink{
	color:  #f8f2ec;
	text-decoration: none;
}
.relatedULLink:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

#email{
	color: #f8f2ec;
	margin-bottom: 15px;
}
.center{
	text-align: center;
}
footer{
	margin-top: 30px;
}
/*#email:hover { color: brown; }*/ /*KEEP FOR LATER THIS IS FUN*/

#aboutUsArticle{
	float: left;
}
#aboutUsAside{
	float: right;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0
	content: " ";
	clear: both;
	height: 0;
}
.clear{
	clear: both;
}

 /*Use this section to color code your divs*/
/*header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}div,section {
    background-color:  #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}*,li,h1,#slogan,a,.navBarLink,.relatedULLink,#email{color: black;}
*/