@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed|Open+Sans');
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/** {
   border: 1px solid red !important;
}*/

/*Begin Semantic Syling*/
body{
	font-size: 16px;
	background-color: rgba(51,26,11,0.25);

}
header{
	background-image: url("../images/CoffeeBar.jpeg");
	height: 42em;
	background-size: cover;
	background-position: center;

}
main{
	background-color: rgba(51,26,11,0.85);
	padding: 50px 30px 0px 30px;
}
section{
	width: 75%;
	float: left;
	padding-right: 30px;

}
article{
	background-color: #f8f2ec;
	padding: 25px;
	margin-bottom: 50px;
}
article p{
	margin-bottom: 40px;
}
aside{
	float: right;
	width: 25%;
	padding: 25px;
	background-color: #f8f2ec;
	height: 672px;
}
footer{
	position: relative;
	height: 10em;
	background-color: #fff;
}
h1{
	font-family: "Roboto Condensed", Helvetica, "Sans Serif";
	margin: 0;
	padding: 0;
	color:  #000;
	font-size: 7em;
	font-weight: 300;
	text-align: center;
	letter-spacing: -0.08em;
	line-height: 0.75em;
	word-spacing: 0.2em;
	text-transform: uppercase;
}
h2,h3,p {
	color: #000;
	text-align: center;
	margin: auto;
	width: 85%;
}
h3{
	font-size: 2em;
	padding-bottom: 2em;
}
img{
	display: block;
	margin: 0 auto;
	width: 75%;
	/*max-width: 650px;*/
	margin-bottom: 20px;
}
h2,h3{
	font-family: /*Helvetica,*/ "Roboto Condensed", Helvetica, "Sans Serif";
	font-size: 3em;
	font-weight: 900px;
	letter-spacing: -0.1em;
	line-height: 0.75em;
	text-transform: uppercase;
}
p,ul{
	font-family: "Merriweather", Times, serif;
}
p{
	color: #000;
	text-align: justify;
/*	max-width: 650px;
*/	line-height: 1.5em;
	font-size: 1.25em;
	margin-bottom: 15px;
}
/*End semantic styling and start ID styling*/
#contain {
	position: relative;
	margin: 0 auto;
	top: 3em;
	background-color: rgba(51,26,11,0.85);
	width: 100%;
/*	min-width: 750px;
	max-width: 1500px;*/
	/*color: #f8f2ec;*/
	background-image: url("../images/coffee3.jpeg"); /*Rememeber this...*/
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*through this*/
}
#navTop{
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	height: 3em;
	z-index: 1;
	width: 100%;
}
.navUl{
	float: right;
	height: 9.375em;
}
#opener{
	font-family: 'Roboto Condensed', Helvetica, "Sans Serif";
	display: inline-block;
	float: left;
	height: 1em;
	width: 100px;
	line-height: 1em;
	color: black;
	font-size: 3.25em;
	letter-spacing: -0.1em;
}#openerspan{
	font-size: 0.75em;
	letter-spacing: -0.14em;
}
.navBar{
	display: inline;
	padding: 0 1.5em;
	height: 3em;
	line-height: 3em;
}
footer .navBar{
	height: 9.375em;
	line-height: 9.375em;
}
footer #navBot{
	top: 50%;
  	transform: translateY(-50%);
}
.navBarLink{
/*	color:  #f8f2ec;*/
	color: #000;		/*Remove this later and un-comment the above line.*/
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', Helvetica, "Sans Serif";
}
.navBarLink:hover {
    text-decoration: underline;
/*    text-transform: uppercase;*/
}
#headerContain{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	margin: 0 auto;
	background-color: rgba(255,255,255,1);
	width: 42em;
	padding: 2em 0;
}
#slogan{
	font-family: "Merriweather", Times, serif;
	color: #000;
	text-align:  center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.25em;
	word-spacing: 0.25em;
	font-style: italic;
}
/*#aboutUsDiv{
	display: block;
	width: 50%;
	max-width: 550px;
	margin: 0 auto;
	padding-bottom: 25px;
}*/
#aboutUS,#weOffer,#excitingNews{
	font-size: 2.5em;
	margin: 0 auto;
	font-weight: 300;
	padding-bottom: 25px;
	text-align: center;
}
#weOfferUL{
	margin: 0 auto;
	text-align: center;
}
.weOfferLi{
	font-family: "Merriweather", Times, serif;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.25em;
	margin-bottom: 15px;
}
#ulContain{
	display: block;
	margin: auto;
}
.relatedInfo{
	font-family: "open sans";
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
	margin: 0 auto;
}
.relatedUL{
	padding: 0;
	margin-bottom: 15px;
}
.aside{
	font-size: 2em;
	text-align: left;
}
.asideLi{
	font-family: "Merriweather", Times, serif;
	font-size: 0.7em;
	padding: 0 15px 20px 15px;
	text-align: left;
	font-size: 1.25em;
	line-height: 1.5em;
}
.asideULLink{
	color:  #000;
	text-decoration: none;
}
.asideULLink:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

#email{
	color: #000;
}
footer p{
	position: absolute;
	margin: 0;
	padding: 0;
	width: auto;
	left: 25%;
	transform: translateX(-25%);
	top: 50%;
	transform: translateY(-50%);
}
/*#email:hover { color: brown; }*/ /*KEEP FOR LATER THIS IS FUN*/
#navBot{
	background: #fff;
	z-index: 1;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}


 /*Use this section to color code your divs*/
/*header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}div,section {
    background-color:  #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}*,li,h1,#slogan,a,.navBarLink,.relatedULLink,#email{color: black;}*/

@media screen and (max-width: 1280px){
	body{
		font-size: 14px;
	}
	footer{
		height: 9.375em;
	}


}
@media screen and (max-width: 768px){
	body{
		font-size: 14px;
	}
	main{
		padding: 3em 0 2em 0;
	}
	section{
		margin: 0;
		padding: 0;
		float: none;
		width: 100%;
		margin-bottom: 3em;
	}
	article{
		width: 90%;
		margin: 2em auto;
		padding: 2em;
	}
	aside{
		float: none;
		width: 90%;
		margin: 2em auto;
	}
	footer{
		height: 10em;
	}
	footer nav{
		visibility: hidden;
	}
	footer p{
	font-size: 2em;
	position: absolute;
	left: 45%;
	transform: translateX(-50%);
	top: 50%;
	transform: translateY(-50%);
	}
	#navTop{
		position: relative;
		height: 10em;
	}
	#contain{
		top:0;
	}
	#opener{
		margin-top: 0.5em;
		float: none;
		width: 100%;
		text-align: center;
	}
	#navTop ul{
		width: 45em;
		float: none;
		margin: 0 auto;
	}
/*	.navUl{
		float: none;
		width: 100%;
	}
	.navBar{
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		width: 24%;
		padding: 0;
	}
	#navBot .navUl{
		height: 1em;
	}
	#navBot .navBar{
		line-height: 2.5em;
	}*/
}
@media screen and (max-width: 640px){
	body{
		font-size: 10px;
	}
	#navTop{
		height: 12em;
	}
	#navTop ul{
		width: auto;
		float: right;
	}
	#opener{
		position: absolute;
		margin: 0;
		padding: 0;
		font-size: 5em;
		width: auto;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		left: 10%;
/*		height: 2.5em;
		line-height: 2.5em;*/
	}
	.navBar{
		display: block;
	}
	.navUl{
		float left;
		margin: 0 auto;
	}
	header h1{
		font-size: 5em;
	}
	#headerContain{
		width: 30em;
	}
	article #aboutUS{
		font-size: 4em;
	}
	article #weOffer{
		font-size: 4em;
	}
	article #excitingNews{
		font-size: 4em;
	}
	article	p{
		font-size: 1.5em;
		text-align: left;
	}
	article .weOfferLi{
		font-size: 1.25em;
	}
}