body{
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	color: #f8f2ec;
/*	color: white;*/
}

#hero{
	position: absolute;
	width: 100%;
	height: 1000px;
	top: 0;
	left: 0;
	background-image: url("https://static.pexels.com/photos/34085/pexels-photo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	z-index: -10;
}

#contain {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: rgba(51,26,11,0.85);
	border-radius: 50px;
	width: 90%;
	height: %;
	position: relative;
	margin: auto;
	margin-top: 5%;
	z-index: 10;
	padding-top: 35px;
	min-width: 750px;
}
img{ 
	display: block;
	width: 100%;
	max-width: 550px;
	margin: auto;
	border-radius: 25px;

}

h1,h3,p {
	text-align: center;
	margin: auto;
	width: 75%;
}
h1{
	width: 75%;
	max-width: 90%;
	font-size: 55px;
	padding-bottom: 15px;
}
h3{
	font-weight: 900;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-size: 20px;
	font-style: italic;
}
hr{
	width: 50%;
	border-color: #dfbf9f;
	border-width: 2px;
	max-width: 550px;
}
#aboutUS{
	font-size: 20px;
}
#aboutUsP{
	font-size: 16px;
}
ul{
	text-align: center;
    list-style-type: none;
}
#email{
	color: #f8f2ec;
}


/*#email:hover { color: brown; }*/ /*KEEP FOR LATER THIS IS FUN*/
